table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    cursor: pointer;
  }
  

  .arrow::after {
    content: ' ▼';
  }
  
  .arrow.asc::after {
    content: ' ▲';
  }
  
  .arrow.desc::after {
    content: ' ▼';
  }

    
  #clearIcon {
    cursor: pointer;
    margin-left: 8px;
  }

  .u-font-montserrat-copy {
    font-family: Montserrat, sans-serif !important;
    margin: 20px auto;
    font-size: 26px;
    font-weight: bold;
}