
/* Style the container for the inputs and the h3 */
.input-container {
    display: flex;
    }

/* Style the h3 element */
.input-container h3 {
    font-size:1.2rem;
    margin-left: 2%;
}

.input-container input[type="number"] {
    width: fit-content;
    height: fit-content;
    font-size: 1.2rem;
    position: relative;
    left: 1%;
}


/* Style the range input */
.input-container input[type="range"] {
    -webkit-appearance: none;
    width: 90%; /* Set the width of the range input */
    height: 10px; /* Set the height of the range input */
    background: #ddd; /* Background color of the track */
    outline: none; /* Remove the default focus styling */
    position: relative; /* Position the range input relative to its containing element */
    left: 2%; /* Set the initial position from the left edge of the containing element */
    transform: translateX(0px); /* Adjust the range position based on left value */
    }

/* Style the thumb (handle) of the range input */
.input-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px; /* Set the width of the thumb */
    height: 30px; /* Set the height of the thumb */
    background: #3498db; /* Background color of the thumb */
    cursor: pointer; /* Change the cursor to a pointer */
}

