    .container {
        display: flex;
        height: 300px;
    }

    .left-panel {
    flex: 0 0 50%; /* Fixed width for left panel */
    background-color: #f1f1f1;
    overflow-y:auto; /* Enable vertical scrolling */
    }

    .right-panel {
    flex: 1;
    background-color: #cbcbcb;
    overflow-y: auto; /* Enable vertical scrolling */
    }

    /* Style the container for the inputs and the h3 */
    .input-container {
        display: flex;
        align-items: center;
        }

    /* Style the h3 element */
    .input-container h3 {
        margin-right: 10px; /* Add some spacing between the h3 and the range input */
        width: 25%; 
        font-size:36px;
    }

    /* Style the range input */
    .input-container input[type="range"] {
        -webkit-appearance: none;
        width: 45%; /* Set the width of the range input */
        height: 10px; /* Set the height of the range input */
        background: #ddd; /* Background color of the track */
        outline: none; /* Remove the default focus styling */
        position: relative; /* Position the range input relative to its containing element */
        left: 5%; /* Set the initial position from the left edge of the containing element */
        transform: translateX(0px); /* Adjust the range position based on left value */
        }
    
    /* Style the thumb (handle) of the range input */
    .input-container input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 14px; /* Set the width of the thumb */
        height: 40px; /* Set the height of the thumb */
        background: #3498db; /* Background color of the thumb */
        cursor: pointer; /* Change the cursor to a pointer */
    }

    .input-container input[type="number"] {
        width: 20%; /* Set the width of the number input */
        height: 60px; /* Set the height of the number input */
        font-size: 36px;
        margin-left: 2%; /* Add some spacing between the range and number inputs */
        position: relative; /* Position the range input relative to its containing element */
        left: 5%; /* Set the initial position from the left edge of the containing element */
    }

   
 