    .container {
        display: flex;
        height: 300px;
    }

    .left-panel {
    flex: 0 0 50%; /* Fixed width for left panel */
    background-color: #f1f1f1;
    overflow-y:auto; /* Enable vertical scrolling */
    }

    .right-panel {
    flex: 1;
    background-color: #cbcbcb;
    overflow-y: auto; /* Enable vertical scrolling */
    }


 